/*  */
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
.information{
    background-color: #376295;
    width: 100%;
}

a{
    text-decoration:none;
    color:unset;
}

a:hover{
    text-decoration:none;
    color:unset;
}

.information__container{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #376295;
    max-width: 1025px;
    padding: 50px 0;
}

.container-img-reembolso{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color:#63AED8;
    padding:15px;
}

.information__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}

.container-img-reembolso img{
    width:170px;
    height:170px;
}

.products{
    padding: 30px;
    display: flex;
    justify-content: center;
}

.product_display{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:auto;
    row-gap: 30px;
    column-gap:15px;
}

.product__card{
    width:227px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    display:inline-block;
}

.card__image{
    width:226px;
    height:200px;
}

.card_body{
    font-family: "Oswald", sans-serif;
    padding:15px;
}

.card_body .price{
    font-weight: bold;
}
.card_body .price span{
    font-size: 13px;
    position: relative;
    top: -15px;
    text-decoration: line-through;
    color:#666666;
}

.card_title{
    margin-bottom: 4px!important;
}

.card_observacao{
    color:#B97120;
}

.card_body .card_sail{
    font-size: 13px;
    color:#666666;
}

.card_body p{
    line-height:1.0;
}


@media screen and (max-width: 900px){

    .product_display{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:auto;
        margin: 0 auto;
    }

    .product__card{
        justify-self:center;
    }
}


@media screen and (max-width: 700px){
    .product_display{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:auto;
        margin: 0 auto;
    }

    .product__card{
        justify-self:center;
    }
}


@media screen and (max-width: 693px){

    .information__container{
       flex-direction: column;
    }

    .information__card{
        margin-bottom:100px;
    }

    

    .container-img-reembolso img {
        width: 100px;
        height: 100px;
    }

    .product_display{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:auto;
        margin: 0 auto;
    }

    .product__card{
        justify-self:center;
    }

}


@media screen and (max-width: 400px){

    .information__container{
        flex-direction: row;
    }

    .information__card{
        margin-bottom:0px;
    }

    .information__card h3{
        font-size:11px;
    }

    .container-img-reembolso img {
        width: 50px;
        height: 50px;
    }

    .product_display{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:auto;
        margin: 0 auto;
    }

    .product__card{
        justify-self:center;
    }

    .product_display{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        margin: 0 auto;
    }

}


