.inputs{
    margin-top: 10px;
    margin-bottom: 20px;
}

.register__text{
    font-size: 22px;
    font-weight:600;
}

.card__header--toffer{
    color: #fff;
    background:#376295;
    font-weight: bold;
}

.btn__toffer{
    font-size:24px;
    font-weight:600;
    background-color:#376295;
}

.input--street{
    display:flex;
}

.street{
    width:70%;
    margin-right: 10px;
}

.number{
    width:30%;
}