@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
* {
  text-decoration: none;
}

body{
  background: #F2F2F2;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu {
  padding:1rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #376295;
}

.menu .menu__logo,.mobile__logo {
  font-family: 'Martel Sans', sans-serif;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: -5px;
  font-size:32px;
  
}

.mobile__logo {
  top: -16px;
}

.menu .menu__logo{
  margin-right:50px;
}

.menu__logo:hover {
  color: #c5c5c5;
}

.menu__container{
    width: 1280px;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.menu ul li:not(:last-child) {
    margin-right: 7px;
}
.menu .menu__item {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

p.menu__item{
    margin: 0;
    margin-right: 20px;
}

.menu .menu__item:hover {
  color: #c5c5c5;
}

.menu__item p{
    line-height: 1;
    position: relative;
    top:5px;
}

.menu__input,
.menu__button {
  padding: 0.6rem;
  border: none;
}

.menu__input {
  border-radius: 0.3rem 0 0 0.3rem;
  font-weight: bold;
  font-size: 18px;
  width: 350px;
}

.menu__button {
  cursor: pointer;
  border-radius: 0 0.3rem 0.3rem 0;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: white;
  background-color: #FEBD69;
  margin-left: -5px;
  width: 50px;
}

.menu__button:hover {
  background: black;
}

.menu__item--login,
.menu__item--cadastro {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background: #2dbb80;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.menu__button:hover,
.menu__item--login:hover,
.menu__item--cadastro:hover {
  background: #79cfab;
}

.menu__search {
  position: relative;
  top: -5px;
  margin-right: 20px;
  
}

.menu__access{
    margin-left: auto;
}

.menu__mobile{
  display: none;
}


@media screen and (max-width: 1024px){
  .menu__logo{
    display: none;
  }

  .menu{
    flex-direction: column;
    flex-wrap: wrap;
  }

  .menu__container{
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    align-items: flex-start;
  }


  .menu__container ul{
    padding: 0;
  }

  .menu__search {
    width: 100%;
    
  }

  .icone_login{
    display: none;
  }

  .menu__access{
    margin-left:0;
    flex-direction: column;
    align-items: start!important;
  }

  .piper{
    display:none;
  }

  .cart{
    display:none;
  }

  .menu__mobile{
    display:flex;
    justify-content:space-between;
    width:100%;
    padding-right: 15px;
  }

  .mobile__button{
    color: #fff;
  }

  .mobile__button:hover{
    color: white;
  }

  .mobile-active{
    transition-duration: 2s;
    display: none;
  }

  .menu__button{
    font-size: 28px;
  }

  .menu .menu__item{
    font-size:28px;
  }

  .menu__input {
    width: calc(100% - 50px);
    font-size: 28px;
  }

}